<header>

<input type="text" placeholder="buscar gif" #filter  (keyup)="debounceGift(filter.value)" />

<p>se han encontrados {{gifs().length}} gifs en total</p>

</header>

<section>



@if(gifs().length === 0) {
    <p>no se han encontrado gifs</p>
}@else{

@for (gif of gifs(); track gif.id) {

<a [routerLink]="['/gif',gif.id]">
    <img [src]="gif.images.original.url" [width]="gif.images.original.width" [height]="gif.images.original.height" alt="gif.title"  />

</a>


}





}
<div appIntersection (onIntersection)="loadMore()" #last></div>
</section>
