section{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    width: 90%;
    grid-auto-flow: dense;
    margin: auto;
    gap: 1px;
    row-gap: 5px;

    a{
        height: 100%;
        border: 3px solid transparent;
        &:hover{
            border-color: purple;
            z-index: 1;
        }
    }

    img{
        height: inherit;
width: 100%;
object-fit: cover;
    }


    /* make that a ramdom a that have diferent span row */
    a:nth-child(11n + 1) {
        grid-column: span 2;
        grid-row: span 2;
      }
      
      a:nth-child(8n+1) {
          grid-column-end: span 2;
          grid-row-end: span 2;
      }
      
      a:nth-child(10n + 3) {
          grid-column: span 2;
          grid-row: span 1;
      }


}



header{
  margin: auto;
  width: max-content;
}


input{
    border-radius: 2px;
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
}